@charset "utf-8";
/**
 * @desc 效果集合CSS - 重在搜集效果，代码不具备可参考性
 * @author laserji
 * @mail jiguang1984#gmail.com
 * @date 13-10-16
 */

/* common */
*{ margin: 0; padding: 0;}
body{overflow: visible;}
img{display: block; border: 0 none;}
ul{list-style: none;}
.main{width: 1240px; margin: 20px auto; color: #333; }
.main h1{font-size: 16px; margin-bottom: 5px;}
.main a{color: #666;}
.main .sub_tit{color: #999; margin-bottom: 15px;}
.floor{ margin-bottom: 20px;zoom: 1;}
.floor:after { content: ' '; display: block; clear: both; height: 0; visibility: hidden; }
.floor h2{height: 34px; font:bold 16px/26px \5FAE\8F6F\96C5\9ED1; margin-bottom: 10px; clear: both; color: #333; border-bottom: 2px dotted #ccc;}
.floor .desc{font: normal 12px/26px \5B8B\4F53; color: #666; padding-left: 10px; vertical-align: top;}
.floor ul{float: left; padding-top: 30px;}
/* effeckt */
.effeckt-caption{width: 300px;}
.effeckt-caption, .effeckt-caption *{ -moz-box-sizing: border-box;box-sizing: border-box;}
.effeckt-caption,
.effeckt-caption:nth-child(2n){ margin-right: 10px;}

/* crossfade */
#cf { position: relative; height: 480px; width: 960px; margin: 0 auto; cursor: pointer; }
#cf img { position: absolute; left: 0; -webkit-transition: opacity 0.8s ease-in-out; }
#cf img.top:hover { opacity: 0; }

/* 翻页 */
#hover_flip .container{width: 200px; height: 200px; }
#hover_flip .container .inner{display: block; width: 100%; height: 100%; position: relative; overflow: hidden; }
#hover_flip .container .mask{ position: absolute; bottom: 0; right: 0; width: 35px; height: 35px; overflow: hidden; box-shadow: 0 0 13px 0 rgba(0,0,0,0.37); -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out; -moz-transition: width 0.5s ease-in-out, height 0.5s ease-in-out; transition: width 0.5s ease-in-out, height 0.5s ease-in-out; }
#hover_flip .container .mask .bg{position: absolute; bottom: 0; right: 0;}
#hover_flip .container .white{ width: 284px; height: 284px; position: absolute; top: -227px; left: -223px; box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.37); /*background-color: #fff;*/ z-index: 10; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform: rotate(45deg); -webkit-transition: left 0.5s ease-in-out, top 0.5s ease-in-out, box-shadow 0.5s ease-in-out; -moz-transition: left 0.5s ease-in-out, top 0.5s ease-in-out, box-shadow 0.5s ease-in-out; transition: left 0.5s ease-in-out, top 0.5s ease-in-out, box-shadow 0.5s ease-in-out; background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 76%, rgba(211,211,211,1) 92%, rgba(255,255,255,1) 100%); /* FF3.6+ */ background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 76%,rgba(211,211,211,1) 92%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */ background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 76%,rgba(211,211,211,1) 92%,rgba(255,255,255,1) 100%); /* IE10+ */ background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 76%,rgba(211,211,211,1) 92%,rgba(255,255,255,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ }
#hover_flip .container .inner:hover .mask{ width: 166px; height: 166px; }
#hover_flip .container .inner:hover .white{ left: -160px; top: -159px; box-shadow: 3px 3px 30px 10px rgba(0,0,0,0.4); }

/* 边框效果 */
.hproduct{float: left; width: 180px; margin-right: 10px;background-color: #fff; position: relative; }
.hproduct .item_desc{ height: 18px; line-height: 18px; position: absolute; top: -25px; left:0; color: #fff; background: #ee5567; border-radius: 2px; padding-right: 5px;}
.hproduct .item_desc .num{float: left; height: 18px; line-height: 18px; padding: 0 5px;  background: #db4453; margin-right: 5px; border-top-left-radius: 2px; border-bottom-left-radius: 2px; font-family: arial;}
.hproduct .url{ display: block; width: 180px; height: 180px;}
.hproduct .fn_wrap{ padding: 10px 10px 0; }
.border_none{}
.border_2px{border: 2px solid #fff; padding: 8px; -webkit-transition: border-color 0.3s ease-in; -moz-transition: border-color 0.3s ease-in; -o-transition: border-color 0.3s ease-in; transition: border-color 0.3s ease-in;}
.border_2px:hover{border-color: #d70000;}
.border_big{padding: 8px; background-color: #fff;}
.border_big:hover{background-color: #d7d7cc;}
.border_inner{position: relative; width: 200px; text-decoration: none;display: block;}
.fCt-det { width: 144px; height: 59px; background: #fff; background: rgba(255,255,255,.9); position: absolute; left: 17px; bottom: 21px; padding: 0 8px; overflow: hidden; border: 3px solid transparent; cursor: pointer; -moz-transition: border .3s ease-in .2s; -webkit-transition: border .3s ease-in .2s; -o-transition: border .3s ease-in .2s; -ms-transition: border .3s ease-in .2s; transition: border .3s ease-in .2s; }
.fCt-aname { margin: 0; text-decoration: none; line-height: 30px; height: 30px; font-size: 14px; font-weight: 700; border-bottom: 1px dotted #000; overflow: hidden; text-align: center; width: 144px; color: #000; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
.fCt-bname { text-decoration: none; height: 28px; line-height: 28px; text-align: center; font-size: 12px; font-family: Tahoma; overflow: hidden; width: 144px; color: #000; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
.floorCon-banner:hover .fCt-det { border: 3px solid rgba(0,0,0,.8); -moz-transition: border .3s ease-in .2s; -webkit-transition: border .3s ease-in .2s; -o-transition: border .3s ease-in .2s; -ms-transition: border .3s ease-in .2s; transition: border .3s ease-in .2s; }
.border_out{width: 200px; height: 200px;  background: #f0f0f0; position: relative; overflow: visible;}
.border_out .url{ height: 180px; width: 180px; position: absolute; top: 10px; left:10px; overflow: hidden; -webkit-transition: height 0.2s ease-in-out; -moz-transition: height 0.2s ease-in-out; -o-transition: height 0.2s ease-in-out; transition: height 0.2s ease-in-out;}
.border_out .url:hover, .border_out .url:hover *{ text-decoration: none;}
.border_out .url:hover{height: 210px; border: 10px solid #fff; top:0; left:0; background: #fff;}
.border_out .fn_wrap{display: block;}

.border_wave{float:left;width:180px;height:180px;padding:10px;background-color:#fff;position:relative;border: 1px solid #ddd;}
.border_wave img{position: relative;}
.border_wave .item_hover{position:absolute;left:0;top:0;width:200px;height:200px;background-color: #ccc;background: url(http://static.paipaiimg.com/qqbuy/img/xin/stripe_bg.png?t=20130904);}
.border_wave:hover .item_hover{opacity:1;background-size:30px 30px;background-image:-moz-linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%, transparent 50%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 75%, transparent 75%, transparent);/*Mozilla*/background-image:-webkit-linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%, transparent 50%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 75%, transparent 75%, transparent);/*Webkit*/animation:barberpole 0.5s linear infinite;-moz-animation:barberpole 0.5s linear infinite;-webkit-animation:barberpole 0.5s linear infinite;}
.border_wave:hover .black_bgco{background-color:#555;}
.border_wave .item_hover{transition:opacity 0.3s ease;}
@keyframes barberpole{
  from{background-position:0 0; }
  to{background-position:60px 30px;}
}
@-moz-keyframes barberpole{
  from{background-position:0 0; }
  to{background-position:60px 30px;}
}
@-webkit-keyframes barberpole{
  from{background-position:0 0; }
  to{background-position:60px 30px;}
}

/* 图片效果 */
.pic_opacity .url img{opacity: 1; filter: alpha(opacity= 100); -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; -o-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out;}
.pic_opacity .url:hover img{opacity: .7; filter: alpha(opacity=70);}
.pic_zoom .url{overflow: hidden;}
.pic_zoom .url img{width: 180px; height: 180px; position: relative; top:0; left:0;
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;}
.pic_zoom .url:hover img{width: 190px; height: 190px; top: -5px; left:-5px;}
.pic_slide_up{width: 202px; height: 255px;}
.pic_slide_up .url{width: 202px; height: 255px; overflow: hidden;position: relative;}
.pic_slide_up .url img{position: absolute;left: 0; top: 0; -mowebkit-transition: top .25s ease; -moz-transition: top .25s ease; transition: top .25s ease;}
.pic_slide_up .url:hover img{top: -265px;}
.pic_slide_left{width: 245px; height: 174px;}
.pic_slide_left a.url{width: 245px; height: 174px; overflow: hidden;position: relative;}
.pic_slide_left img{transition: margin-left .25s ease; -webkit-transition: margin-left .25s ease; -moz-transition: margin-left .25s ease;}
.pic_slide_left a:hover img{margin-left: -59px;}

.pic_cover .cell{display: block; width: 240px; height: 198px; border: 1px solid #f2f2f2; position: relative; overflow: hidden;}
.pic_cover .cell span{display: block; width: 100%; text-align: center;}
.pic_cover .cell:hover, .floor_lady_bag .cell:hover span{text-decoration: none;}
.pic_cover .cell .photo{display: block; }
.pic_cover .cell .tit{ font:bold 16px/1.5em \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei"; color: #90d621;}
.pic_cover .cell .sub_tit{color: #666;}
.pic_cover .cell .photo_hover{display: none; position: absolute; top:0; left:0;}
.pic_cover .cell:hover .photo_hover{display: block;}
.pic_height{position: relative; height: 180px; width: 180px; overflow: visible;}
.pic_height .cell{display: block; height: 180px; overflow: hidden; position: absolute; -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;}
.pic_height .cell:hover{height: 240px;}

.pic_highlight{width: 180px; height: 180px; position: relative;}
.pic_highlight .highlight_mask{
    width: 300px;
    height: 300px;
    position: absolute;
    top: -270px;
    left: -270px;;

    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */

    -webkit-transform: rotate(135deg);
    -webkit-transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
    transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
    opacity: .1;
}
.pic_highlight .url{display: block; width: 180px; height: 180px; overflow: hidden; position: relative;}
.pic_highlight .url:hover .highlight_mask{
    top: 270px;
    left: 270px;;
}


/* 集群效果 */
.collection_effect{overflow: hidden; *zoom:1;}
.collection_effect ul li{float: left; margin-right: 2px;}
.collection_effect ul:hover .url{opacity: .7; filter: alpha(opacity=70);}
.collection_effect ul li .url:hover{opacity: 1; filter: alpha(opacity=10);}

.collection_dark{ overflow: hidden; *zoom:1;}
.collection_dark ul li{float: left; margin-right: 2px;}
.collection_dark .url{background: #000; /* dark background */}
.collection_dark ul:hover .url img{opacity: .7; filter: alpha(opacity=70); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out;}
.collection_dark ul li .url:hover img{opacity: 1; filter: alpha(opacity=10);}

.collection_effect_up{}
.collection_effect_up li{ margin-right: 2px; position: relative; top:0; -webkit-transition: top 0.3s ease-out; -moz-transition: top 0.3s ease-out; -o-transition: top 0.3s ease-out; transition: top 0.3s ease-out;}
.collection_effect_up li:hover{top: -20px;}

.collection_effect_rotate{}
.collection_effect_rotate li{ margin-right: 20px;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.collection_effect_rotate li:hover{-webkit-transform: rotate(-13deg);}